<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>RFLibrary</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css"/>
  </head>
  <body>
    <header>
        RFLibrary
    </header>

    <content>
      <ul>
        {{#each books}}
          <li id_book = "{{this.id_book}}" class="bookBlock">
              <img src="./img/book-cover.jpg" class="bookCover" alt="Book Title" title="Book title">
              <div class="bookInfo">
                <p><b>Book name: </b>{{this.book_name}}</p>
                <p><b>Genre: </b>{{this.genre}}</p>
                <p><b>Read: </b>{{this.read}}</p>
                <p><b>Status: </b>{{this.status}}</p>
                <a href="/book/:{{this.id_book}}"><button>Read</button></a>
              </div>
          </li>
        {{else}}
          <li style="margin-bottom: 10px;">We haven't any book yet</li>
        {{/each}}
      </ul>
    </content>
  </body>
</html> 