<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>RFLibrary</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css"/>
    <link rel="stylesheet" type="text/css" href="./css/profile.css"/>
  </head>
  <body>
    <header>
      <h3>Profile {{userName}}</h3>
    </header>
    <button onclick="deleteTokenAndExit()">Logout</button>

    <content> 
      <div> 
        <h5>Reading books:</h5>
        <ul>
          <li>BOOK</li>
          <li>BOOK</li>
          <li>BOOK</li>
        </ul>
      </div>

      <div class="importantBlock"> 
        <h4>Posted books:</h4>
         <ul class="ulPostedBooks">
            {{#each postedBooks}}
              <li id_book = "{{this.id_book}}" class="bookBlock">
                  <img src="./img/book-cover.jpg" class="bookCover" alt="Book Title" title="Book title">
                  <div class="bookInfo">
                    <p><b>Book name: </b>{{this.book_name}}</p>
                    <p><b>Genre: </b>{{this.genre}}</p>
                    <p><b>Read: </b>{{this.read}}</p>
                    <p><b>Status: </b>{{this.status}}</p>
                    <a href="/book/:{{this.id_book}}"><button>Read</button></a>
                  </div>
              </li>
            {{else}}
              <li style="margin-bottom: 10px;">You haven't posted any book yet. You are able to do it by form below</li>
            {{/each}}
        </ul>
      </div>


      
        <div class="importantBlock">

          <h4>Post new book</h4>
          <form class="formPostBook" method="post" enctype="multipart/form-data">
           
            <p>Book name:</p>
            <input name="bookName" type="text" placeholder="Book name" autocomplete="off" required>
             <p>Author name:</p>
            <input name="authorName" type="text" placeholder="Author name" autocomplete="off" required>
            
            <p>Choose genre:</p>
            <p> <select name="genre" size="5" required>
                <option>Business literature</option>
                <option>Detectives and Thrillers</option>
                <option>Nonfiction</option>
                <option>Home, crafts, leisure, hobbies</option>
                <option>Dramaturgy</option>
                <option>Art, Art History, Design</option>
                <option>Computers and the Internet</option>
                <option>Literature for children</option>
                <option>Romance novels</option>
                <option>Science, Education</option>
                <option>Poetry</option>
                <option>Adventures</option>
                <option>Prose</option>
                <option>Religion, spirituality, esotericism</option>
                <option>Reference literature</option>
                <option>Vintage</option>
                <option>Technic</option>
                <option>Textbooks and manuals</option>
                <option>Fantasy</option>
                <option>Folklore</option>
                <option>Humor</option>
                <option>Health, beauty, psychology</option>
                <option>Other</option>
            </select> </p>

            <p>Load your book in .pdf format:</p>
            <input name="book" type="file" accept=".pdf" required id="afile">
            <button>Post book</button>
          </form>

          {{#if book_error_message}}
            <p>{{book_error_message}}</p>
          {{/if}}
        </div>
    </content>

   


    <script src="./js/profile.js"></script>
  </body>
</html> 